.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1400px;
    width: 100%;
}

.header {
    height: 5em;
}

.belowHeader {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 30%;
}

.content {
    flex-grow: 1;
}